body
{
    background-color: lightblue;
    text-align:center;
    font-family: arial;
    font-size: 38px;

}

li
{
    list-style: none;
    line-height: 2em;
    text-align: center;
}

.header
{
    background-color: grey;
    padding: 20px;
    font-size: 20px;
}

.buttons
{
    background-color: orange;
    padding: 0px;
}

.inform_user
{
    background-color: green;
    padding: 25px;
    font-size: 30px;
    font-weight: bold;
}

.input
{
    font-size: 26px;
    background-color: grey;
}

.search_results
{
    padding: 0px;
    font-size: 36px;
    font-weight: bold;
    font-family: "Times New Roman";
    letter-spacing: 3px;
}

.puzzle_table
{
    margin-left: auto;
    margin-right: auto;
    empty-cells: hide;
}

.puzzle_area
{
    background-color: yellow;
    text-align: center;
    padding: 0px;
}

.kanji_area
{
    font-size: 18px;
    padding: 0px;
    border-width: 0px;
}

.results_table
{
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    padding: 5px;
}


.dropbtn
{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus
{
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown
{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content
{
    display: none;
    font-size: 18px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #4CAF50}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content
 container when the user clicks on the dropdown button) */
.show {display:block;}
